BasedOnStyle: LLVM

AccessModifierOffset: 4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ContinuationIndentWidth: 4
ColumnLimit: 120
FixNamespaceComments: false
TabWidth: 4
IndentAccessModifiers: true
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
UseTab: Never
